
h1 {
    color: blue;
}

#fileLoader {
    width: 1034px;
    border: 2px solid powderblue;

}

#fairsimlogger {
    position: fixed;
    height: 50px;
    width: 1034px;
    bottom: 2px;
    border: 2px solid powderblue;
}



#image-raw {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    position: relative;
    float:left;
}

#rawCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#zSlider {
    position: absolute;
    top: 20px;
    width: 490px;
}

#sSlider {
    position: absolute;
    top: 470px;
    left: 0px;
    width: 290px;
}




#image-fft {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    left:520px;
    position: relative;
}

#runInputButton {
    position: absolute;
    top:10px;
    left:10px;
}

#fftCanvas {
    position: absolute;
    top:0px;
    left:0px;
}

