
h1 {
    color: blue;
}

#fileLoader {
    width: 1034px;
    border: 2px solid powderblue;

}

#fairsimlogger {
    position: fixed;
    height: 40px;
    width: 320px;
    top: 20px;
    left: 514px;
    border: 2px solid powderblue;
}



#image-raw {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    position: relative;
    margin:2px;
    float:left;
}

#rawCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#zSlider {
    position: absolute;
    top: 20px;
    width: 490px;
}

#sSlider {
    position: absolute;
    top: 470px;
    left: 0px;
    width: 290px;
}




#image-fft {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    left:520px;
    margin:2px;
    position: relative;
}

#runInputButton {
    position: absolute;
    top:10px;
    left:10px;
}

#displayOtfButton {
    position: absolute;
    top:10px;
    left:100px;
}


#fftCanvas {
    position: absolute;
    top:0px;
    left:0px;
}


#image-corr {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    left:0px;
    margin:2px;
    position: relative;
}

#runCorrButton {
    position: absolute;
    top:10px;
    left:10px;
}

#setCorrButton {
    position: absolute;
    top:10px;
    left:200px;
}

#corrSlider {
    position: absolute;
    top: 470px;
    left: 0px;
    width: 290px;
}

#image-result {
    border: 2px solid powderblue;
    width:1025px;
    height:2060px;
    left:0px;
    margin:2px;
    position: relative;
}


#runResultButton {
    position: absolute;
    top:10px;
    left:10px;
}

