
body {
    background-color: white;
}

h1 {
    color: blue;
}


#maindiv{
    width: 1040px;
    margin: 0 auto;
}

#fileLoader {
    width: 1034px;
    border: 2px solid powderblue;

}

#fairsimlogger {
    position: fixed;
    height: 40px;
    width: 514px;
    left:50%;
    top: 20px;
    border: 2px solid powderblue;
    background: #ffffff44;
}

#fairsimprogress {
    position: fixed;
    left:50%;
    transform: translate(480px);
    top: 20px;
    height: 35px;
    width: 40px;
}


#image-raw {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    position: relative;
    margin:2px;
    float:left;
}

#rawCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#zSlider {
    position: absolute;
    top: 20px;
    width: 490px;
}

#sSlider {
    position: absolute;
    top: 470px;
    left: 0px;
    width: 290px;
}




#image-fft {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    left:520px;
    margin:2px;
    position: relative;
}

#runInputButton {
    position: absolute;
    top:10px;
    left:10px;
}

#displayOtfButton {
    position: absolute;
    top:10px;
    left:100px;
}


#fftCanvas {
    position: absolute;
    top:0px;
    left:0px;
}


#image-corr {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    left:0px;
    margin:2px;
    position: relative;
    float:left;
}

#runCorrButton {
    position: absolute;
    top:10px;
    left:10px;
}

#setCorrButton {
    position: absolute;
    top:10px;
    left:200px;
}

#corrSlider {
    position: absolute;
    top: 470px;
    left: 0px;
    width: 290px;
}

#image-control {
    border: 2px solid powderblue;
    width:514px;
    height:514px;
    left:520px;
    margin:4px;
    position: relative;
}

#image-control-content {
    position: absolute;
    padding: 10px;
}



#image-result {
    border: 2px solid powderblue;
    width:1025px;
    height:2060px;
    left:0px;
    margin:2px;
    position: relative;
}


#runResultButton {
    position: absolute;
    top:10px;
    left:10px;
}

#switchWidefieldButton {
    position: absolute;
    top:980px;
    right:10px;
}

#resultCanvas {
    border: 1px solid lightgrey;
}
#resultCanvasFFT {
    border: 1px solid lightgrey;
}



#resMaxSlider {
    position: absolute;
    top: 45px;
    left:10px;
    width:500px;
}


#resMinSlider {
    position: absolute;
    top: 70px;
    left:10px;
    width:500px;
}


